<div class="sticky" data-sticky data-anchor="post">

          <!-- Side Navigatioon -->
          <ul class="nav-side bottom50" data-smooth-scroll>
            <li><a href="https://worth-and-worth.myshopify.com/pages/faq">FAQ's</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/shipping">Shipping</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/returns">Returns & Exchanges</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/terms">Terms & Conditions</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/privacy">Privacy Policy</a></li>
          </ul>
          <h4 class="small-body-title underline">Assistance</h4>
          <p class="support">For support or answers to additional questions, please <a href="/pages/contact">contact us</a>.</p>
        </div> 