<!-- Customize request form --> 
<div class="off-canvas position-right product-customize" id="showQuality" data-off-canvas data-transition="overlap">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h2>Straw Quality</h2>
		<div class="quality-desc">
			<p class="small-body-title">Artisan</p>
			<p>The Artisan quality weave has anywhere from 14 to 17 “puntos” (woven strands per linear inch). It is not woven as tight but possesses more weight and durability than the other qualities do. For the wearer who likes to get the most out of their hat.</p>
		</div>
		<div class="quality-desc">
			<p class="small-body-title">Master</p>
			<p>The Master quality Montecristi weave has anywhere from 18 to 21 “puntos” (woven strands per linear inch). Suitable for non-strenuous occasions, it is much lighter, tighter, and precise while providing excellent sun protection.</p>
		</div>
		<div class="quality-desc">
			<p class="small-body-title">Museum</p>
			<p>The museum quality Montecristi boasts an incredible 22 to 32 “puntos” (woven strands per linear inch) From $750 to $3,000. Using a process that takes up to 5 months, this Panama Hat by Worth & Worth has an exquisitely light feel – perfect for relaxing by the Coast Campari and soda in hand. When straw feels like fine linen, a work of art.</p>
		</div>
		<div class="quality-desc">
			<p class="small-body-title">Superfino</p>
			<p>The Superfino is the highest quality weave. These Hats are truly rarer than rare. Our grade starts at 30 “puntos” and can go as high as 60 “puntos”. Montecristi Superfino are always recognizable by the trademark ridge in their centers, there remain today only a dozen weavers capable of making the finest straw hats in the World: The Montecristi Superfino. The Superfino are the lightest of all and the consistency of the weave. The “remate” (back weave) becomes almost invisible to the eye. Hold it to the light and it glows, seemingly translucent. Our Super Fino Montecristi starts at $5,000 to $25,000 for the rare treasures.</p>
		</div>
      </div>
    </div>
	<button class="close-button" aria-label="Close menu" type="button" data-close>
	  <span aria-hidden="true">&times;</span>
	</button>
</div>