<div class="off-canvas position-right" id="showSize-shoes" data-off-canvas data-transition="overlap">
	<div class="cart-drawer-padding"> 
		<!-- Hat size chart and help -->
		<div class="grid-container">
			<div class="grid-x grid-padding-x">
				<div class="small-12 cell">
					<h2>Find your size</h2>
                  <br />
				</div>
				<div class="small-12 medium-12 cell women-chart">
					<p class="small-body-title">Women's Shoes</p>
					<div class="table-wrap">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 140px;">
							<tr>
								<th>US</th>
								<th>EU</th>
							</tr>
							<tr>
								<td>6.5</td>
								<td>37</td>
							</tr>
							<tr>
								<td>7</td>
								<td>37.5</td>
							</tr>
							<tr>
								<td>7</td>
								<td>38</td>
							</tr>
							<tr>
								<td>7.5</td>
								<td>38</td>
							</tr>
							<tr>
								<td>8</td>
								<td>38.5</td>
							</tr>
							<tr>
								<td>8.5</td>
								<td>39</td>
							</tr>
							<tr>
								<td>9</td>
								<td>39.5</td>
							</tr>
							<tr>
								<td>9.5</td>
								<td>40</td>
							</tr>
							<tr>
								<td>10</td>
								<td>40.5</td>
							</tr>
							<tr>
								<td>10.5</td>
								<td>41</td>
							</tr>
							<tr>
								<td>11</td>
								<td>41.5</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="small-12 medium-12 cell men-chart">
					<p class="small-body-title">Men's Shoes</p>
					<div class="table-wrap">
						<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 140px;">
							<tr>
								<th>US</th>
								<th>EU</th>
							</tr>
							
							<tr>
								<td>8</td>
								<td>41</td>
							</tr>
							
							<tr>
								<td>9</td>
								<td>42</td>
							</tr>
							<tr>
								<td>10</td>
								<td>43</td>
							</tr>
							<tr>
								<td>11</td>
								<td>44</td>
							</tr>
							<tr>
								<td>12</td>
								<td>45</td>
							</tr>
							<tr>
								<td>13</td>
								<td>46</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="close-button" aria-label="Close menu" type="button" data-close>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
