<section class="custom-hats consult-header" id="scrollto"> 
  <div class="grid-container top-text">

    {% for block in section.blocks %}
    {% case block.type %}

    {% when 'text' %}
    <!-- Custom hats text only row -->
    <div class="grid-x grid-padding-x align-center">
      <div class="large-7 cell text-center">
        <h2>{{ block.settings.title }}</h1>
        {{ block.settings.content }}
      </div>
    </div>

    {% when 'images' %}
    <!-- Row type portriat image left, landscape image right  -->
    <div class="grid-x grid-padding-x section-space80">
      <div class="large-6 cell">
        <img src="{{ block.settings.imageLeft | img_url: '900x900' }}" class="orlando-bw" />
      </div>
      <div class="large-5 large-offset-1 cell relative">
        <div class="valign">
          <img src="{{ block.settings.imageRight | img_url: '900x900' }}" class="hat-shelf" />
        </div>
      </div>
    </div>

    {% endcase %}
    {% endfor %}

  </div>
</section>

{% schema %}
  {
    "name": "Content",
    "blocks": [
      {
        "type": "text",
        "name": "Text Row",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "content",
            "type": "richtext",
            "label": "Content"
          }
        ]
      },
      {
        "type": "images",
        "name": "Images Row",
        "settings": [
          {
            "id": "imageLeft",
            "type": "image_picker",
            "label": "Image Left"
          },
          {
            "id": "imageRight",
            "type": "image_picker",
            "label": "Image Right"
          }
        ]
      }
    ]
  }
{% endschema %}
