
  <h1 class="h2">{{ section.settings.heading}}</h1>
		{{ section.settings.bopdy}}


{% schema %}
  {
    "name": "Intro",
    "settings": [
      {
        "id": "heading",
        "type": "text",
        "label": "Heading Text"
      },
      {
        "id": "bopdy",
        "type": "richtext",
        "label": "Body Text"
      }
    ]
  }
{% endschema %}
