<div class="header-spacer"></div>

<!-- Icon header video and/or image -->
<section class="icon-header relative bottom50" style="background-image:url('https://picsum.photos/1000/800');">
  <div class="icon-header-info">
    <div class="grid-container">
      <div class="grid-x">
        <div class="large-4 cell text-right">
          <h2>The Californian</h2>
        </div>
        <div class="large-4 cell text-center">
          <h1>Gabe</h1>
        </div>
        <div class="large-4 cell">
          <a href="">Watch Episode</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Icon Poloroid frame images -->
<section class="icon-poloroids bottom50">
  <h2 class="text-center bottom50">Romantic • Traveller • Comedian • Dreamer</h2>
  <div class="grid-container">
    <div class="grid-x">
      <div class="large-12 cell relative">
        {{ 'icon-pictureframes.png' | asset_url | img_tag: '', 'picture-frame' }}
        <div class="picture-frame-pictures">
          <img src="https://picsum.photos/200" />
          <img src="https://picsum.photos/201" />
          <img src="https://picsum.photos/202" />
          <img src="https://picsum.photos/203" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 7 column centered text only -->
<section class="icon-row-text">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center bottom50">
      <div class="large-7 cell">
        <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. </p>
      </div>
    </div>
  </div>
</section>

<!-- Image left and text right -->
<section class="icon-imageleft-textright bottom50">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center bottom50">
      <div class="large-4 large-offset-1 cell">
        <img src="http://gooseworksdev.com/hs/sample/icon3.png" />
      </div>
      <div class="large-4 large-offset-1 cell">
        <blockquote>
          He doesn't say much
          But he's a real nice guy
          We met at the beach he was waxing his board at the point
          Like I said, I was caught between two rocks, he pulled me out
          Put me on his head "fit just right"
          He surfed all morning
          Later on, we took a ride in his Expedition,
          he placed me on his dashboard.
          "Pilots, feels like a Coney Island ride".
        </blockquote>
      </div>
    </div>
  </div>
</section>

<!-- Full width image with zoom -->
<section class="icon-fullwidth-image bottom50">
  <img src="https://picsum.photos/1000/600" />
</section>

<!-- Image left and image right -->
<section class="icon-imageleft-imageright bottom50">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center align-middle bottom50">
      <div class="large-4 large-offset-1 cell">
        <img src="http://gooseworksdev.com/hs/sample/icon4.png" />
      </div>
      <div class="large-4 large-offset-1 cell">
        <img src="http://gooseworksdev.com/hs/sample/icon5.png" />
      </div>
    </div>
  </div>
</section>

<!-- Icon spotify playlist -->
<section class="icon-playlist">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center bottom50">
      <div class="large-10 cell text-center">
        <h2>PLAYLIST HIGHLIGHTS</h2>
        <p>Bob Dylan, The Dead Weather, Father John Misty, The Kills, Timber Timbre, Sebastien Tellier, Yeah Yeah Yeahs, TV on the Radio, Nicolas Jaar</p>
        <a class="button">Launch Playlist</a>
      </div>
    </div>
  </div>
</section>
