{% section 'home-ss2' %}
{% section 'pop' %}
{% section 'home-shop' %}
{% section 'home-latestcreations' %}

{% section 'home-meet' %}

{% section 'home-explore' %}

{% section 'home-culture' %}


<!-- Instagram feed. Uses link tags for columns -->
<section class="instagram">
    <!-- Begin Instafeed plugin -->
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell text-center">
			<h3 class="h5 section-space30 mobile-space20">FOLLOW US ON  <a href="https://www.instagram.com/worthandworth/" target="_blank">@WORTHANDWORTH</a></h3>
		</div>
	</div>
  

	<!--<div class="grid-x grid-padding-x multiple-item insta-desk show-for-large" id="instafeed"></div>
	<div class="grid-x grid-padding-x multiple-item insta-mobile hide-for-large" id="instafeedmobile"></div>-->
</section>
{% section 'evm-InstaPic' %}