<div class="header-spacer"></div>

<!-- Terms & Conditions -->
<section class="care-content">
  <div class="grid-container">
    <div class="grid-x grid-padding-x" id="post">
      <div class="large-2 cell data-sticky-container">
        {% include 'care-sidebar' %}
      </div>
      <div class="large-7 large-offset-half cell">

        {% section 'terms' %}

      </div>
    </div>
  </div>
</section>
