<div class="header-spacer"></div>

<!-- Hat Repair list of services -->
<section class="repair-services bottom50">
  <div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="large-7 cell">
       
  {% section 'hatrepair-intro' %}
        {% section 'hatrepair-service1' %}

        {% section 'hatrepair-service2' %}

        {% section 'hatrepair-service3' %}

        {% section 'hatrepair-service4' %}

      </div>
    </div>
  </div>
</section>

{% section 'hatrepair-request' %}

{% section 'hatrepair-more' %}
