<div class="header-spacer"></div>

<!-- Hat Care -->


<div class="grid-container care-title">
    <div class="grid-x grid-padding-x">
		<div class="medium-12 cell relative">
			<h1 class="h2"><span class="care-title">How to care for your</span>  <span id="style-selector-halo"><span class="selector-border">Felt Hat</span>: <i class="fal fa-chevron-down"></i></span></h1>
			<div id="style-select4">
				<!-- Single size output -->
				<a href="/pages/hat-care" class="hat-car-sub">Straw Hat</a>
				</label>
			</div>
		</div>
	</div>
</div>
<section class="hat-care felt bottom50">
	<div class="grid-container">
		<div class="grid-x grid-padding-x" id="post2">
			<div class="medium-6 cell small-order-2 medium-order-1 data-sticky-container">
				<div class="sticky" data-sticky data-anchor="post2" data-sticky-on="large">
					<ul class="accordion" data-accordion data-deep-link="true" data-update-history="true" id="deeplinked-accordion-felt">
						<li class="accordion-item" data-accordion-item data-acc="felt1">
							<a href="#felthatcaretip1" class="accordion-title"><span class="care-step">1.</span> Crease</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip1">
								<p>Do not leave your hat in a confined space exposed to heat and humidity, this prevents shrinkage and distortion of shape and color.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt2">
							<a href="#felthatcaretip2" class="accordion-title"><span class="care-step">2.</span> Pinch</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip2">
								<p>Never handle your hat by the pinch or the crown, always by the Brim. This prevents breakage and keeps the hat clean of oils and dirt.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt3">
							<a href="#felthatcaretip3" class="accordion-title"><span class="care-step">3.</span> Hatband</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip3">
								<p>A hatband is not a permanent fixture of your hat. It cannot be repaired and is interchangeable.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt4">
							<a href="#felthatcaretip4" class="accordion-title"><span class="care-step">4.</span> Crown</a>
							<div class="accordion-content" data-tab-content id="hatcaretip4">
								<p>Remove surface dirt from the crown by brushing loose dust off with a light colored brush then using a clean, damp cloth and gently rubbing counter-clockwise towards the back.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt5">
							<a href="#felthatcaretip5" class="accordion-title"><span class="care-step">5.</span> Brim</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip5">
								<p>Never rest a hat on its brim/flat. Rest your hat upside down on a flat, clean surface to prevent the brim from distorting or flattening.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt6">
							<a href="#felthatcaretip6" class="accordion-title"><span class="care-step">6.</span> Storing your hat</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip6">
								<p>Always place your hat upside down when not on your head or in a hatbox. Do not leave your hat in a confined space exposed to heat and humidity, this prevents shrinkage and distortion of shape and color.</p>
				     		</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt7">
							<a href="#felthatcaretip7" class="accordion-title"><span class="care-step">7.</span> Sweatband</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip7">
								<p>Flip up to air/dry ventilate. This prevents saturation due to perspiration and/or hair products.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt8">
							<a href="#felthatcaretip8" class="accordion-title"><span class="care-step">8.</span> Underside of Brim</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip8">
								<p>Brush the underside of the brim clockwise.</p>
							</div>
						</li>
						<li class="accordion-item" data-accordion-item data-acc="felt9">
							<a href="#felthatcaretip9" class="accordion-title"><span class="care-step">9.</span> Lining</a>
							<div class="accordion-content" data-tab-content id="felthatcaretip9">
								<p>To clean the lining, remove it and soak it in
								non-abrasive soap. Do not force dry (i.e blow dryer, oven, radiator, or any other heat application).</p>
							</div>
						</li>
					</ul>
				</div>
      </div>
				<div class="medium-6 cell small-order-1 medium-order-2">
				  	<div class="straw-top">
				  		<a class="care-tip" id="felt1" href="#felthatcaretip1" data-acc="felt1">1</a>
				  			<a class="care-tip" id="felt2" href="#felthatcaretip2" data-acc="felt2">2</a>
				  			<a class="care-tip" id="felt3" href="#felthatcaretip3" data-acc="felt3">3</a>
				  			<a class="care-tip" id="felt4" href="#felthatcaretip4" data-acc="felt4">4</a>
				  			<a class="care-tip" id="felt5" href="#felthatcaretip5" data-acc="felt5">5</a>
				  		<img src="{{ 'felt-Top.jpg' | asset_url }}" alt="" />
				  	</div>
				  	<div class="straw-bottom">
				  		<a class="care-tip" id="felt6" href="#felthatcaretip6" data-acc="felt6">6</a>
				  		<a class="care-tip" id="felt7" href="#felthatcaretip7" data-acc="felt7">7</a>
				  		<a class="care-tip" id="felt8" href="#felthatcaretip8" data-acc="felt8">8</a>
				  		<a class="care-tip" id="felt9" href="#felthatcaretip9" data-acc="felt9">9</a>
				  		<img src="{{ 'hat_part_feltB.jpg' | asset_url }}" alt="" />
				  	</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="hat-repair-promo">{% section 'hatrepair-more' %}</div>

<script type="text/javascript">
	$(document).ready(function(){
	$('.accordion-item').click(function(){
	if($(this).hasClass('is-active')){
	 var myEm3 = $(this).attr('data-acc');
	 	$('.care-tip').removeClass('active') //Clear all checked class on .size
	     $('.care-tip[data-acc = '+myEm3+']').addClass('active');
	}
	});
	$('.care-tip').click(function(){
	 	$('.care-tip').removeClass('active') //Clear all checked class on .size
	     $(this).addClass('active');

	});
	});

	$(document).ready(function(){
	    $('.custom-select select').on("change", function() {
	      $('.hat-care').hide();
	      $('.hat-care' + $(this).val()).fadeIn(1000);
	    });
	});
	$("#style-selector-halo").click(function() {
	  $("#style-select2").hide("fast", function() {});
	  $("#style-select4").toggle("fast", function() {});

	});
</script>
