<div class="header-spacer"></div>

<!-- FAQ -->
<section class="care-content">
  <div class="grid-container">
    <div class="grid-x grid-padding-x" id="post">
      <div class="large-2 cell data-sticky-container">
        <div class="sticky" data-sticky data-anchor="post">

          <!-- Side Navigatioon -->
          <ul class="nav-side bottom50" data-smooth-scroll>
            <li>FAQ's
              <ul>
                <li><a href="#gift" data-acc="gift">General FAQ</a></li>
                <li><a href="#send" data-acc="send">Hat Care FAQ</a></li>
                <li><a href="#custom" data-acc="custom">Custom Order FAQ</a></li>
              </ul>
            </li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/shipping">Shipping</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/returns">Returns & Exchanges</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/terms">Terms & Conditions</a></li>
            <li><a href="https://worth-and-worth.myshopify.com/pages/privacy">Privacy Policy</a></li>
          </ul>

          <h4 class="small-body-title underline">Assistance</h2>
		  	<p class="support">For support or answers to additional questions, please <a href="/pages/contact">contact us</a>.</p>
        </div>
      </div>
      <div class="large-7 large-offset-half cell">
        <h1 class="h2">Frequently Asked Questions</h1>
        <img src="{{ 'sketch-border.png' asset_url }}" alt="" class="sketch-border" />

        {% section 'faq-1' %}

        {% section 'faq-2' %}

        {% section 'faq-3' %}

      </div>
    </div>
  </div>
</section>
