<div class="header-spacer"></div>

<!-- Careers at Worth & Worth -->
<section class="about-header">
  <div class="grid-container">

    {% section 'careers-intro' %}

    <!-- Row type single column positions -->
    <div class="grid-x grid-padding-x align-center bottom50">
      <div class="large-6 cell">

        {% section 'careers-jobs' %}

        {% section 'careers-interns' %}

      </div>
    </div>

  </div>
</section>
