<style>

	.monte-wrap .grid-container {
	    padding-right: 0.625rem;
	    padding-left: 0.625rem;
	    max-width: 87rem;
	    margin: 0 auto;
	}
	.show, .hide {
	    position: absolute;
	    bottom: 1em;
	    z-index: 100;
	    text-align: center;
	    left: 50%;
	    transform: translate(-50%, 0);
	}
	.hide {display: none;}
	 .show:target {display: none;}
	 .show:target ~ .hide {display: block !important;}
	 .show:target ~ .passage-wrap {
	    max-height: 8200px;
	 }
	 .show:target ~ .fade {
	   margin-top: 0;
	 }
	 @media print, screen and (min-width: 40em) {


	 .grid-padding-x > .cell {
	     padding-right: 0.9375rem;
	     padding-left: 0.9375rem;
	 }
	 }
</style>
<div class="monte-wrap">

    <!-- Full page opener -->
    <section class="home-holder" id="main-holder">
    <section class="monte-fullscreen ">
      <div class="grid-container grid-x grid-padding-x align-middle">
        <div class="medium-12 cell text-center">
          <h1>The World's finest</h1>
          <h2>Montecristi</h2>
          <h3>Panama Hats</h3>
        </div>
      </div>
      <a class="read-more fullscreen-watch" style="display: none;" data-toggle="monte-video">Watch the film</a>
      <a class="scroll arrow-down animated infinite pulse scrollme" href="#scrollto"><img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/top-arrow-2.png" alt="" /></a>
    </section>
</section>
    <!-- Full screen video light box -->
    <!--<div class="full reveal" id="monte-video" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
      <div class="monte-fullscreen-video">
        <iframe src="https://player.vimeo.com/video/146526171" width="640" height="360" frameborder="0" allowfullscreen></iframe>
      </div>
      <span class="close" data-close></span>
    </div>-->

    <!-- From Ecuador, with love -->
    <section class="monte-intro" id="scrollto">
      <div class="grid-container grid-x grid-padding-x">
        <div class="medium-5 cell from">
          <h2>From Ecuador, <br />with love</h2>
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/intro-1.jpg" />
        </div>
        <div class="medium-7 cell">
        	<div class="intro-wrap">
          	<p>Orlando’s first visit with the master weavers of Ecuador turns into so much more: lifelong friendships, a business partnership, and an enduring connection based on the values of family and truth.
          	</p>
          	<div class="intro-actions"><a class="listen-open"><audio preload="metadata">
          			<source src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/Built-on-Trust.mp3" type="audio/mpeg"></audio><span>Listen <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/podcast.png" class="not-100" /></span></a> | <a class="read-more" data-toggle="monte-orlando">Read more</a>




          	</div>
      		</div>
          <div class="grid-x grid-padding-x img-support">
            <div class="medium-12 cell">
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/ecuador2.png" />
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Orlando long light show -->
    <div class="full reveal monte" id="monte-orlando" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
      <div class="monte-orlando">
        <div class="orlando-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-banner.png')"></div>
        <div class="grid-container grid-x grid-padding-x">
          <div class="medium-12 cell text-center">
            <h2>Built on Trust</h2>
            <h3>Orlando tells the tale in his own voice.</h3>
          </div>
          <div class="medium-4 medium-offset-1 cell">
            <p class="margin66">I took most of this footage during my visits to Pile, Ecuador. Pile is a small village located 30 km (about 19 miles) away from Manta, the nearest large city. Citizens of Pile have been weaving hats for over 400 years—their economy is mostly sustained by harvesting toquilla straw, hat-weaving, farming, and tourism. It’s one of the last places in Ecuador where Montecristi Superfino Panama Hats are handwoven, and since the early days of Worth & Worth, I have been fortunate enough to work side by side with some of the great master weavers of Pile.</p>
            <p class="margin66">My first visit to the village was in 1995, one year after we met Don Rosendo, a master weaver even then. We had built a trustful relationship, and asked if we could visit the birthplace of his magnificent hats. He kindly agreed. We set off on our journey at 9 AM; the day was still early by American standards, but by Ecuadorian time it was half gone. We traveled along a dirt road covered in watermelon-sized potholes; when we pulled up, we were amazed to see that all of the houses were built on bamboo stilts.</p>
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-trust3.jpg" class="orlando-trust3" />
            <div class="orlando-podcast">
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/podcast.png" />
              <a class="podcast listen-open fa fa-play2"><audio class="podcast" preload="metadata">
              			<source src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/Built-on-Trust.mp3" type="audio/mpeg"></audio>LISTEN</a>
              <p>Orlando tells the tale in his own voice.</p>
            </div>
          </div>
          <div class="medium-5 medium-offset-1 cell relative orlando-main">
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-trust.jpg" class="orlando-trust "/>
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-trust2.jpg" class="orlando-trust2" />
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-ecuador.png" class="orlando-ecuador" />
            <p class="first">There, Don Rosendo introduced us to Don Raul Alarcón, who sized us up before bringing us into his home.</p>
            <p class="wide-p">Religious icons covered the walls inside, and something in the corner caught my eye. Wrapped in cotton cloth, and held up by a three-pronged trunk called a mula, was a gem of long strands of fine straw, much like the hair of the indigenous women we had seen hiking up the Andes.</p>
            <p>I asked Don Raúl if I could take a closer look. He smiled and unveiled a piece so tightly woven, it seemed it could hold water.</p>
            <p>At that moment, in walked Doña Carina: Don Raul’s wife, a woman with piercing brown eyes, a firm handshake, and a demeanor that could calm a charging tiger. She gently approached the mula, unwrapped a half-woven hat, and—with thumbnails that sharpened to a point like a Japanese knife—commenced to weave.</p>
            <p>First, she wet her hands from a small bowl that sat to the left of the mula. Then she stroked the fibers softly, caressing the strands of toquilla like a mother conditioning her child’s hair. Her dexterity, her speed, and the fluidity and concentration with which she wove was otherworldly, and I found my own mind in another realm. She whipped and pulled and organized those hundreds of strands with the concentration I would expect of a NASA mathematician. “Fascination” could not touch what I felt.</p>
          </div>
        </div>
        <div class="monte-banner2"></div>
        <div class="grid-container grid-x grid-padding-x">
          <div class="medium-9 medium-offset-2 cell">
            <h2 class="monte-orlando-h22">What I understood as a fellow craftsperson was the sense of process and flow: everything else around us became white noise</h2>
          </div>
          <div class="medium-4 medium-offset-1 cell relative orlando-trust-img small-10">
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-trust4.jpg" />
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-trust5.jpg" class="orlando-trust5" />
          </div>
          <div class="medium-4 medium-offset-1 cell orlando-trust-text">
            <p>What I understood as a fellow craftsperson was the sense of process and flow: everything else around us became white noise. We sat in the room together in a state of zen, until someone would tell a humorous story. We would all laugh, and then return to zen. It was peaceful, with none of that senseless, nervous chatter of wanting to hear yourself...it was pure, a meditation.</p>
            <p>We understood each other. We have built more than a business relationship—they became part of the family. Through the years of our relationship we have built a clinic and a school in Pile. I recognize the simplicity, the craft, and we live a truth built on trust.</p>
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-line.png" />
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/orlando-signature.png" class="orlando-signature" />
            <p><strong>Orlando Palacios</strong></p>
          </div>
        </div>
      </div>
      <span class="close" data-close></span>
    </div>

    <!-- The Journey starts in Eduador -->
    <section class="monte-journey">
      <div class="rip"></div>
      <div class="cycle-slideshow" data-cycle-fx="fadeout" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-swipe=true
          data-cycle-swipe-fx=fadeout>

        <!-- Slide 1 -->
        <div>
          <div class="full-width monte-journey-header" style="background-image: url(https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1-The-Journey-begins-crop.jpg);">
            <h2>The Journey begins</h2>
          </div>
        </div>

        <!-- Slide 2 -->
        <div>
          <div class="full-width monte-journey-header" style="background-image: url(https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2-The-subject-of-Myth-Legend-PM-cropped.jpg);">
            <h2>The Journey begins</h2>
          </div>
        </div>

        <!-- Slide 3 -->
        <div>
          <div class="full-width monte-journey-header" style="background-image: url(https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3-A-Rare-and-Ancient-Craftmanship-cropped.jpg);">
            <h2>The Journey begins</h2>
          </div>
        </div>

    		<!-- Slide 4 -->
    		<div>
    		  <div class="full-width monte-journey-header" style="background-image: url(https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/4-Preserving-An-Art-form-cropped.jpg);">
    		    <h2>The Journey begins</h2>
    		  </div>
    		</div>

    		<!-- Slide 5 -->
    		<div>
    		  <div class="full-width monte-journey-header" style="background-image: url(https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/4-bisbis-Preserving-an-Art-form-cropped.jpg);">
    		    <h2>The Journey begins</h2>
    		  </div>
    		</div>
<!-- Slide 4 -->
<div style="background: #444444;" class="last-slide">
  <div class="full-width monte-journey-header ss-banner ss-banner-last" style="background-image:url('')">
  	<div class="centerv text-center">
    <h3>Be a part of this <br />beautiful journey</h3>
    <a class="monte-hat-order-2 button filled" href="/collections/montecristi-hats">Order your work of art now</a>
    </div>
  </div>
</div>
        <span class="cycle-next cycle-navi"></span>
        <span class="cycle-prev cycle-navi"></span>

      </div>
      <div class="grid-container grid-x grid-padding-x">
        <div class="medium-4 medium-offset-6 cell">
          <p>Contrary to its famous name, the Panama hat has always been woven in Ecuador. Hats exported in the 1800s were first transported to Panama, before setting sail for the United States, Asia, & Europe. From then on, these finely plaited “straw” hats were referred to by their port of origin. The highest quality—and most expensive—Panama hats are woven from the leaves of the toquilla palm, and made in the region of Manabí.</p>
          <a class="read-more" data-toggle="monte-journey">Read More</a>
        </div>
      </div>
    </section>

    <div class="full reveal ss monte" id="monte-journey" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
      <div class="cycle-slideshow" data-cycle-fx="fadeout"
          data-cycle-manual-speed="1000" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-swipe=true
              data-cycle-swipe-fx=fadeout>

        <!-- Slide 1 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1-The-Journey-begins-crop.jpg')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell">
                <h2>The Subject of Myth & Legend</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>The pinnacle of Panama hatmaker’s art, Montecristi Superfinos are incredibly beautiful yet entirely practical hats that have graced more heads of state and celebrities than any other type of straw hat. From harvesting the raw plant (paja toquilla) to shaping the finished product, supremely dedicated master weavers (tejedores) employ the most exacting and laborious hand processes to craft the perfect blend of nature and art. This glorious marriage results in hats of transcendent quality.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2-The-subject-of-Myth-Legend-PM-cropped.jpg')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell">
                <h2>A Rare & Ancient Craftsmanship</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>This style of weaving has been practiced and perfected for over 400 years in the villages surrounding Montecristi, Ecuador. Today, there is a real danger that this art form will cease to exist. Due the fineness of the straw and complexity of the workmanship involved, each weaver produces just six—or fewer—of these hats per year.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3-A-Rare-and-Ancient-Craftmanship-cropped.jpg')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell">
                <h2>Preserving <br />An Art Form</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>Heartbroken by the likelihood that, in a generation or less, the art of weaving the most exquisitely crafted hats in the history of the world would be no more, we are committed to saving this art by creating greater demand for it.</p>
              </div>
              <div class="cell medium-2"></div>
            </div>
          </div>
        </div>
<!-- Slide 4 -->
<div style="background: #444444;">
  <div class="full-width monte-journey-header ss-banner ss-banner-last" style="background-image:url('')">
  	<div class="centerv text-center">
    <h3>Be a part of this <br />beautiful journey</h3>
    <a class="monte-hat-order-2 button filled" href="/collections/montecristi-hats">Order your work of art now</a>
    </div>
  </div>
</div>
        <span class="cycle-pager"></span>
        <span class="cycle-next"></span>
        <span class="cycle-prev"></span>

      </div>
      <span class="close" data-close></span>
    </div>

    <!-- A passage of rights -->
    <section class="monte-passage">
    <a href="#show" class="show btn read-more" id="show">Read More</a>
    	<div class="passage-wrap">


      <div class="grid-container grid-x grid-padding-x rites-intro">
        <div class="medium-6 cell">
          <h2>A Passage of Rites</h2>
          <p class="monte-passage-intro">Artisans, who have this craft in their DNA from centuries of weaving, create the world’s finest Montecristi Panama hats.</p>
        </div>
      </div>

      <!-- Row 1 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-1">
        <div class="medium-6 cell medium-offset-1">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1-Process1.jpg"  />
        </div>
        <div class="medium-4 cell">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1.png" alt="1" class="hide-for-small-only" />
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1w.png" alt="1" class="hide-for-medium" />
          </span>
          <p>The weaver harvests selected fronds of “tallos”—blades of toquilla palms. Almost 50 are needed to make a single hat.</p>
        </div>
      </div>
    <div class="img-spacer1"></div>

      <!-- Row 2 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-2">
        <div class="medium-3 cell small-order-2 medium-order-2 medium-order-1">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2.png" alt="2" class="hide-for-small-only" />
           <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2w.png" alt="2" class="hide-for-medium" />
          </span>
          <p>Delicate strands are used for a superior tight weave. The tallos are stripped and boiled, before being dried and bleached.</p>
        </div>
        <div class="medium-8 medium-offset-1 cell small-order-1 medium-order-1 medium-order-2">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2-Process.jpg" />
        </div>
      </div>
     <div class="img-spacer2"></div>

      <!-- Taking a break from rows #1 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row">
        <div class="medium-12 cell">
          <h3>The Montecristi Panama hats are <br />made by a centuries-old process</h3>
        </div>
      </div>
     <div class="img-spacer3"></div>

      <!-- Row 3 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-3">
        <div class="medium-6 medium-offset-1 cell">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/passage-3.png"  />
        </div>
        <div class="medium-4 cell">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3.png" alt="3" class="hide-for-small-only" />
           <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3w.png" alt="3" class="hide-for-medium" />
          </span>
          <p>The process of creation is very involved; labor is split between seven craftspeople: weaver, backweaver, tightener, cutter, bleacher, ironer, & hatmaker.  </p>
        </div>
      </div>
      <div class="img-spacer4"></div>

      <!-- Row 4 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-4">
        <div class="medium-3 cell small-order-2 medium-order-2 medium-order-1">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/4.png" alt="4" class="hide-for-small-only" />
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/4w.png" alt="4" class="hide-for-medium" />
          </span>
          <p>Weaving begins by creating a small cross of eight strands, then exponentially adding eight more until the plantilla has formed. </p>
        </div>
        <div class="medium-8 medium-offset-1 cell small-order-1 medium-order-1 medium-order-2">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/passage-4.png" />
        </div>
      </div>
      <div class="img-spacer5"></div>

      <!-- Taking a break from rows #2 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row">
        <div class="medium-12 cell">
          <h3>For Montecristi Superfinos, a single <br />fiber may be split 4 times</h3>
        </div>
      </div>
      <div class="img-spacer6"></div>

      <!-- Row 5 -->
      <div class="grid-container fluid monte-passage-row passage-5">
      <div class="grid-x grid-padding-x ">
        <div class="medium-9 cell">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/passage-5.jpg" class="journey-large" />
        </div>
        <div class="medium-3 cell medium-row">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/5.png" alt="5" class="hide-for-small-only" />
            <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/5w.png" alt="5" class="hide-for-medium" />
          </span>
          <p>This step of the process is painstaking, and can take three months up to one year. Like a precious jewel, the hat passes from one hand to the next. </p>
        </div>
      </div>
      </div>
      <div class="img-spacer7"></div>

      <!-- Row 6 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-6">
        <div class="medium-3 cell small-order-2 medium-order-2 medium-order-1">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/6.png" alt="6" class="hide-for-small-only" />
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/6w.png" alt="6"  class="hide-for-medium" />
          </span>
          <p>For a month, the plantilla is placed on a wooden block, to shape the hat as it is woven.
          </p>
        </div>
        <div class="medium-8 medium-offset-1 cell small-order-1 medium-order-1 medium-order-2">
        <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/6-Process1.jpg" />
        </div>
      </div>
      <div class="img-spacer8"></div>

      <!-- Row 7 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-7">
        <div class="medium-6 medium-offset-1 cell">
        	<img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/7-Process1.jpg" />

        </div>
        <div class="medium-4 cell">
          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/7.png" alt="7" class="hide-for-small-only" />
           <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/7w.png" alt="7" class="hide-for-medium" />
          </span>
          <p>Once weaving is complete, the hat is thoroughly washed, line-dried, then again smoked and bleached in a sulphur box.</p>
        </div>
      </div>
      <div class="img-spacer9"></div>

      <!-- Taking a break from rows #1 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row">
        <div class="medium-12 cell">
          <h3>It all starts with these strands, <br />which turn into works of art</h3>
        </div>
      </div>
      <div class="img-spacer10"></div>

      <!-- Row 8 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-8">
        <div class="medium-3 cell small-order-2 medium-order-2 medium-order-1">
         <span class="passage-number">
         <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/8.png" alt="8" class="hide-for-small-only" />
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/8w.png" alt="8" class="hide-for-medium" />
         </span>
         <p>A strand of this caliber is thinner than dental floss—anywhere between 1,500-3,000 strands are woven into one hat. </p>
        </div>
        <div class="medium-8 medium-offset-1 cell small-order-1 medium-order-1 medium-order-2">
        	 <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/8-Process.jpg" />
        </div>
      </div>
      <div class="img-spacer11"></div>

      <!-- Row 9 -->
      <div class="grid-container grid-x grid-padding-x monte-passage-row passage-9">
        <div class="medium-6 medium-offset-1 cell">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/9-Process1.jpg" />
        </div>
        <div class="medium-4 cell">

          <span class="passage-number">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/9.png" alt="9" class="hide-for-small-only" />
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/9w.png" alt="9" class="hide-for-medium" />
          </span>
          <p>Hold it to the light and it glows, seemingly translucent.</p>
        </div>
      </div>
      <div class="img-spacer12"></div>

      <!-- Row 10 -->
      <div class="grid-container fluid grid-x grid-padding-x monte-passage-row passage-10">
        <div class="medium-3 cell small-order-2 medium-order-2 medium-order-1 process10p">
           <span class="passage-number" >
           <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/10.png" alt="10" class="hide-for-small-only" />
           <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/10w.png" alt="10" class="hide-for-medium" />
           </span>
          <p>And finally the hat is passed to Orlando’s hands in New York City, where it is steamed, hand-blocked, and caressed over the hat-shaping block into its final desired form.
          </p>
        </div>
        <div class="medium-9 cell small-order-1 medium-order-1 medium-order-2">
         <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/10-Process1.jpg" class="process10" />

        </div>
      </div>
      </div>
    </section>

    <!-- Our master weavers -->
    <section class="monte-weavers">
    <div class="rip"></div>
      <div class="grid-x align-middle">
        <div class="medium-3  medium-offset-2 cell">
          <h2>Our Master Weavers</h2>
          <p>The weavers work in the cool of tropical mornings and evenings; they don’t want sweat from their hands staining the toquilla palm-fiber “straw” used to make the Panama hat, for which Ecuador’s Montecristi region is famous.</p>
          <p>Decades ago, it is said 2,000 weavers lived in Montecristi; now there are fewer than 200. Of these, perhaps 15 have the skill to fashion the finest Panama hat, the silky Montecristi Superfino.</p>
        </div>
        <div class="medium-6 medium-offset-1 cell weavers-ss">

          <div class="cycle-slideshow" data-cycle-fx="fadeout" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-swipe=true
              data-cycle-swipe-fx=fadeout>

            <!-- Slide 1 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/4-Weavers-Maria-estillar-Lopez-and-orlando-caranza-odia.jpg" />
              <div class="weaver-info">
                <h3>Maria Estillar Lopez & Orlando Caranza Odia</h3>
                <p>Dona Maria lived next door to the clinic. She has eyes like a hawk, and would report any and all activity happening there. They both held the clinic with pride and vigilance.
                </p>
              </div>
            </div>

            <!-- Slide 2 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1-Weaver-Ermelindo-Pachay.jpg" />
              <div class="weaver-info">
                <h3>Ermelindo Pachay </h3>
                <p>One of the first weavers Orlando met. He wove for 65 years, had 15 children, and loved sopa de pollo, which his wife made for him every week, no matter the weather.
                </p>
              </div>
            </div>

            <!-- Slide 3 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3-Weaver-Yesica-Alarcon.jpg" />
              <div class="weaver-info">
                <h3>Yesica Alarcon</h3>
                <p>Yesica has 22 years of weaving under her fingers, having weaved since she was 11. She listens to reggaeton while she weaves, and has a beautiful smile.
                </p>
              </div>
            </div>
            <!-- Slide 4 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/7-Weaver-Don-Juan-Raul-Alarcon-Hoquin.jpg" />
              <div class="weaver-info">
                <h3>Don Juan Raul Alarcon Hoquin</h3>
                <p>The self-imposed mayor of Pile, Don Raul has been weaving for over 50 years. He was the first weaver Orlando met (who luckily met the grade when Don Raul sized him up)...now they are as close as family. He is Orlando’s eyes and ears in Pile, and they would do anything for each other.
                </p>
              </div>
            </div>
            <!-- Slide 5 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/8-Weaver-Don-Manuel-Alarcon.jpg" />
              <div class="weaver-info">
                <h3>Don Manuel Alarcon Hoquin</h3>
                <p>Don Manuel is Don Raul’s older brother, and he’s been weaving for 60+ years. Orlando’s drinking buddy, they hang together in the evenings, sharing stories and doing damage to a bottle of Havana Club. Don Manuel would say, “Sip it slow but sip it long—as we should take life.”</p>
              </div>
            </div>
            <!-- Slide 6 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2-Weaver-Aura-Alarcon-Garay.jpg" />
              <div class="weaver-info">
                <h3>Aura Alarcon Garay, the matriarch</h3>
                <p>She starts her day at 5 AM, weaving for two hours until she cooks breakfast for the family and takes her grandchildren to school. Once back home, she conditions the straw. At midday, her husband and son come in from the farm; she serves them lunch, then picks up her grandchildren and studies with them at home. Finally, she cooks dinner for the family and ends her day as she started—by weaving.
                </p>
              </div>
            </div>
            <!-- Slide 7 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/6-Weaver-Rosa-Alarcon-Delgado.jpg" />
              <div class="weaver-info">
                <h3>Rosa Alarcon Delgado</h3>
                <p>Rosa, Aura’s sister and the village schoolteacher, has been weaving for 40 years and teaching for 30—she’ll tell you stories of all the students she’s had. Rosa is highly respected in the village, and has a sharp wit and a stare that could cut steel. She weaves in the morning and corrects papers at night.
                </p>
              </div>
            </div>
            <!-- Slide 8 -->
            <div>
              <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/5-Weaver-Javier-Alarcon-Garay.jpg" />
              <div class="weaver-info">
                <h3>Javier Alarcon Garay</h3>
                <p>Javier, Aura’s son, doesn’t say much, but he has four children and some of the fastest and most precise fingers in the village, having weaved since he was 10 years old. With 25 years of experience, Javier has hundreds of hats under his fingertips. During the day he works at the tuna plant as a sorter; in the evening he weaves while listening to soccer matches from Europe.
                </p>
              </div>
            </div>

            <span class="cycle-next"></span>
            <span class="cycle-prev"></span>

          </div>
        </div>
      </div>
    </section>

    <!-- Giving back -->
    <section class="monte-giving">
      <div class="grid-container grid-x grid-padding-x monte-giving-content">
        <div class="medium-3 small-9 cell">
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/giving-1.png" class="show-for-large" />
        </div>
        <div class="medium-5  cell">
          <h2>Collaborating in Community</h2>
          <img src="https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/giving-2.png" />
          <p class="amount show-for-large"><span class="percentage">100%</span> <span class="so-far">Thanks to your generous contribution we have reached our goal of raising $8,000.
          We  will keep you updated those upcoming weeks on the project. <br />
          And we never stop giving back!</span></p>
        </div>
        <div class="medium-3  cell">
          <p>“When I asked the people what they wanted, if they wanted food or clothing they said, “‘Food would rot, clothing would waste, but a clinic would stand.’” So it became Orlando’s dream to build a clinic in Pile, providing free medical care for this community of master weavers.</p>
          <a class="read-more" data-toggle="monte-giving">Read more</a>
          <p class="amount hide-for-large"><span class="percentage">100%</span> <span class="so-far">Thanks to your generous contribution we have reached our goal of raising $8,000.
          We  will keep you updated those upcoming weeks on the project. And we never stop giving back!</span></p>
        </div>
      </div>
      <div class="monte-percentage-bg" style="width: 100%;"></div>
      <div class="monte-percentage-markers">
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
      </div>
    </section>

    <div class="full reveal ss monte" id="monte-giving" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
      <div class="cycle-slideshow" data-cycle-fx="fadeout"
          data-cycle-manual-speed="1000"  data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-swipe=true
              data-cycle-swipe-fx=fadeout>

        <!-- Slide 1 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/GivingBack-1.png')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell">
                <h2>Giving Back</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>We’re honored and grateful to support the master weavers by creating the first solid medical structure to serve the village’s health needs. In 1997, we bought the land and materials, and hired locals to build their own clinic—a clinic financed by your support! Since then, we’ve given back 20% of profits from the Montecristi Hats sold to our community in Pile.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/GivingBack-2.png')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell">
                <h2>Nurture to Grow</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>Together with the community of Pile, we complete a small project every year, and a large project every three years. We’ve put in the first telephone line, painted the village church, purchased emergency generators for the school, supported the soccer team with new uniforms, and added a second floor to El Arbol de la Salud, the Tree of Health Clinic.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/GivingBack-3.png')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell">
                <h2>Forward Together</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>Our next dream is to build a new well and pump for the village; our monetary goal is $8,000. Their current well is over 100 years old, and while the community has running water, the pump is not reliable. Invest in a proper Panama, and enjoy the satisfaction of dashingly guarding against the sun’s damaging rays, all while helping a community benefit from their expertise and remarkable artisanal endeavor.</p>
              </div>
            </div>
          </div>
        </div>
<!-- Slide 4 -->
<div style="background: #444444;">
  <div class="full-width monte-journey-header ss-banner ss-banner-last" style="background-image:url('')">
  	<div class="centerv text-center">
    <h3>Be a part of this <br />beautiful journey</h3>
    <a class="monte-hat-order-2 button filled" href="/collections/montecristi-hats">Order your work of art now</a>
    </div>
  </div>
</div>
        <span class="cycle-pager"></span>
        <span class="cycle-next"></span>
        <span class="cycle-prev"></span>
      </div>
      <span class="close" data-close></span>
    </div>

    <!-- Buy the Montecristi Hat -->
    <section class="monte-hat">
      <div class="cycle-slideshow" data-cycle-manual-fx="fadeout" data-cycle-manual-speed="1000" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-swipe=true data-cycle-swipe-fx=fadeout >

        <!-- Slide 1 -->
        <div>
          <div class="full-width monte-hat-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/1-Desktop-Header.jpg')">
            <div class="grid-container grid-x grid-padding-x">
              <div class="medium-6 cell">
                <h2>Our Worth & Worth <br />Montecristi</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div>
          <div class="full-width monte-hat-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2-Dedicated-to-Perfection-crop.jpg')">
            <div class="grid-container grid-x grid-padding-x">
              <div class="medium-6 cell">
                <h2>Our Worth & Worth <br />Montecristi</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div>
          <div class="full-width monte-hat-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3-Exceptional-Quality-cropped.jpg')">
            <div class="grid-container grid-x grid-padding-x">
              <div class="medium-6 cell">
                <h2>Our Worth & Worth <br />Montecristi</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div>
          <div class="full-width monte-hat-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/4-Exceptional-Quality-cropped.jpg')">
            <div class="grid-container grid-x grid-padding-x">
              <div class="medium-6 cell">
                <h2>Our Worth & Worth <br />Montecristi</h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div>
          <div class="full-width monte-hat-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/5-A-Bespoke-Montecristi-Hat-cropped.jpg')">
            <div class="grid-container grid-x grid-padding-x">
              <div class="medium-6 cell">
                <h2>Our Worth & Worth <br />Montecristi</h2>
              </div>
            </div>
          </div>
        </div>
<!-- Slide 4 -->
<div style="background: #444444;" class="last-slide">
  <div class="full-width monte-journey-header ss-banner ss-banner-last" style="background-image:url('')">
  	<div class="centerv text-center">
    <h3>Be a part of this <br />beautiful journey</h3>
    <a class="monte-hat-order-2 button filled" href="/collections/montecristi-hats">Order your work of art now</a>
    </div>
  </div>
</div>
        <span class="cycle-next"></span>
        <span class="cycle-prev"></span>

      </div>
      <div class="grid-container grid-x grid-padding-x">
        <div class="medium-4 medium-offset-1 cell">
          <p>We are proud to carry the most exquisitely-crafted Montecristi Panama hats in the world. Depending on the plait’s caliber, a Montecristi Panama hat can take up to a year to weave. Available in ARTISAN, MASTER, MUSEUM, and SUPERFINO, our hats have a soft texture, translucent appearance, and luminous ivory color.</p>
          <a class="read-more" data-toggle="monte-buy">Read more</a>
        </div>
        <div class="medium-7 cell text-center">
          <a class="monte-hat-order" href="/collections/montecristi-hats">Order your work of art now</a>
        </div>
      </div>
    </section>

    <div class="full reveal ss monte" id="monte-buy" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down">
      <div class="cycle-slideshow" data-cycle-fx="fadeout"
          data-cycle-manual-speed="1000" data-cycle-timeout="0" data-cycle-slides="> div" data-cycle-swipe=true
              data-cycle-swipe-fx=fadeout>

        <!-- Slide 1 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/2-Dedicated-to-Perfection-crop.jpg')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell text-center">
                <h2>Dedicated to Perfection</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>There are only a handful of hatmakers in existence possessing the singular talent and expertise required to do justice to these works of art, shaping them into one of the iconic Panama forms, such as Havana and Casablanca, the Shady Plantation, a classic Fedora, or rollable, centre-creased Optimo. Our own Orlando personally selects those hat bodies which he’ll shape and block by hand.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/3-Exceptional-Quality-cropped.jpg')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell text-center">
                <h2>Exceptional Quality</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>Our grade starts anywhere from 14 puntos (woven strands per linear inch) for the artisan quality, and can go as high as 60 puntos for a Superfino. The Superfino is lightest of all, where the consistency of both the weave and the remate (back weave) become almost invisible to the eye. Rare treasures, our Superfino Montecristi fall between $5,000-$25,000.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div>
          <div class="ss-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0031/1699/0564/t/4/assets/5-A-Bespoke-Montecristi-Hat-cropped.jpg')">
          </div>
          <div class="ss-content">
            <div class="grid-container grid-x">
              <div class="medium-2 medium-offset-2 cell text-center">
                <h2>A Bespoke Montecristi Hat</h2>
              </div>
              <div class="medium-5 medium-offset-1 cell">
                <p>For the most discerning customer, a Worth & Worth hat can be tailored to suit specific demands, whether it needs to be rolled for easy packing, have a slightly wider brim, or be monogrammed for an extra personal touch. Due to the time and craftsmanship involved, better Panamas fetch anywhere between $450 for a very good example, up to $25,000 for the most exquisite work.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div style="background: #444444;">
          <div class="full-width monte-journey-header ss-banner ss-banner-last" style="background-image:url('')">
          	<div class="centerv text-center">
            <h3>Be a part of this <br />beautiful journey</h3>
            <a class="monte-hat-order-2 button filled" href="/collections/montecristi-hats">Order your work of art now</a>
            </div>
          </div>
        </div>

        <span class="cycle-pager"></span>
        <span class="cycle-next"></span>
        <span class="cycle-prev"></span>
      </div>
      <span class="close" data-close></span>
    </div>
</div>
<script type="text/javascript">
    	let button = document.querySelector('.listen-open')
    	let audio = document.querySelector('audio')

    	button.addEventListener('click',() =>{

    			if(button.classList.contains('fa-play')){
    	    	audio.play()
    	    	button.classList.remove('fa-play')
    	    	button.classList.add('fa-pause')
    	    }else{
    	    	audio.pause();
    	      button.classList.remove('fa-pause')
    	    	button.classList.add('fa-play')
    	    }
    	});
    	let button2 = document.querySelector('.listen-open.podcast')
    	let audio2 = document.querySelector('audio.podcast')

    	button2.addEventListener('click',() =>{

    			if(button2.classList.contains('fa-play2')){
    	    	audio2.play()
    	    	button2.classList.remove('fa-play2')
    	    	button2.classList.add('fa-pause2')
    	    }else{
    	    	audio2.pause();
    	      button2.classList.remove('fa-pause2')
    	    	button2.classList.add('fa-play2')
    	    }
    	})
    </script>
