<div class="header-spacer"></div>
<!-- Hat Repair list of services -->
<section class="repair-services bottom50">
	<div class="grid-container">
		<div class="grid-x grid-padding-x align-center">
			<div class="large-7 cell">
				{% section 'covid-intro' %}
				<p>Sincerely,
					<Br />The Worth & Worth Team</p>
			{% section 'covid-service1' %}
			<p class="text-center">Please know that this time will be especially hard on all small businesses, and consider supporting our stores versus Amazon or mass retailers, when possible. <br />We are sensitive to how this will affect us as a small business and team and hope that you will support us online at hatshop.com
		<Br />Please stay healthy and safe,
		<Br />
		<Br />Sincerely,
		<Br />Worth & Worth Team</p>
			</div>
		</div>
	</div>
	
</section>