<div class="header-spacer"></div>

<!-- Returns -->
<section class="care-content">
  <div class="grid-container">
    <div class="grid-x grid-padding-x" id="post">
      <div class="large-2 cell data-sticky-container">
        <div class="sticky" data-sticky data-anchor="post">

          <!-- Side Navigatioon -->
          <ul class="nav-side bottom50" data-smooth-scroll>
            <li><a href="">FAQ's</a></li>
            <li><a href="">Shipping</a></li>
            <li><a href="">Returns & Exchanges</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
          </ul>

          <h4 class="small-body-title underline">Assistance</h2>
          <p class="support">For support or answers to additional questions, please contact us.</p>
        </div>
      </div>
      <div class="large-7 large-offset-half cell">

        {% section 'returns' %}

      </div>
    </div>
  </div>
</section>
